#------------------------------------------
# Archivos de la solución de Visual Studio
#------------------------------------------
*.suo
*.user
*.useros
*.sln.docstates

# Carpeta de configuraciones de usuario de la solución
.vs/

#-------------------------------------------------------
# Directorios de artefactos de compilación y temporales
#-------------------------------------------------------
[Dd]ebug/
[Rr]elease/
[Bb]uild/
[Aa]rm64/
[Aa]rm/
x64/
x86/
[Bb]in/
[Oo]bj/
[Ww]wwroot/
!.gitkeep

#--------------------------------
# Binarios y ejecutables
#--------------------------------
*.dll
*.exe
*.pdb
*.mdb
*.cache

#--------------------------------
# Paquetes NuGet
#--------------------------------
*.nupkg
*.snupkg
[Pp]ackages/
project.lock.json
project.fragment.lock.json
artifacts/
*.nuget.props
*.nuget.targets
*.deps.json

# Cache de paquetes NuGet global
# .nuget/packages/

#--------------------------------
# Archivos de pruebas y cobertura
#--------------------------------
TestResult*/
*.trx
*.coverage
*.coveragexml

#--------------------------------
# Archivos de Visual Studio Code
#--------------------------------
.vscode/tasks.json
.vscode/launch.json
.vscode/settings.json

#--------------------------------
# Archivos de logs y crash dumps
#--------------------------------
*.log

#----------------------------------------------
# Archivos del sistema operativo y misceláneos
#----------------------------------------------
# macOS
.DS_Store

# Windows
Thumbs.db

#------------------------------------
# Configuración de Rider / Resharper
#------------------------------------
.idea/
*.DotSettings.user

#---------------------------------------
# Certificados de desarrollo de ASP.NET
#---------------------------------------
*.pfx

#----------------------------------
# Archivos de entorno de variables
#----------------------------------
.env

#------------------------------------
# Archivos de bases de datos locales
#------------------------------------
*.dbmdl
*.bak
*.ldf
*.mdf

#------------------------------------
# Archivos generados automáticamente
#------------------------------------
Generated\ Files/
